*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
}
.body{
  padding: 10px;
  margin-top: 0;
  background-color: #F7F7F7;
}
/*mobile version*/


.heading{
  margin-top:80px;
  color:grey;
  text-align: center;
  padding:20px;
}
.navbar{
  padding:0;
  height:80px;
  background-image: linear-gradient(orange,orange,gold,white,white,white,lime,lime,green);
}
.image{
  width:100%;
  height: 50px;
}
.sec0{
  height:600px;
  border-radius: 5px;
}
.sec0 img{
  width:100%;
  height:600px;
  padding: 0;
}
.sec1{
  margin-top: 10px;
  padding:20px ;
  text-align:justify;
  font-size: 16px;
  background-image: linear-gradient(yellow,gold,orange);
  border-radius: 5px;
}
.sec2{
  margin-top:10px;
  padding: 20px;
  background-color: white;
}
.sec2 img{
  padding: 10px 35% 10px 35%;
  height:auto;
}
.sec2 p{
  text-align: justify;
  padding: 0 2%;
}
.sec3{
  margin-top:10px;
  padding: 20px;
  background-color: white;
}
.sec3 img{
  padding: 10px 35% 10px 35%;
  height:auto;
}
.sec3 p{
  text-align: justify;
  padding: 0 2%;
}
.sec4{
  margin-top:10px;
  padding: 20px;
  background-color: white;
}
.sec4 img{
  padding: 10px 40% 10px 40%;
  height:auto;
}
.sec4 p{
  text-align: justify;
  padding: 0 2%;
}
.sec5{
  margin-top:10px;
  padding: 20px;
  background-color: white;
}
.sec5 img{
  padding: 10px 40% 10px 40%;
  height:auto;
}
.sec5 p{
  text-align: justify;
  padding: 0 2%;
}
.sec6{
  margin-top:10px;
  padding: 20px;
  background-color: white;
}
.sec6 img{
  padding: 10px 40% 10px 40%;
  height:auto;
}
.sec6 p{
  text-align: justify;
  padding: 0 2%;
}
.sec7{
  margin-top:10px;
  padding: 20px;
  background-color: white;
}
.sec7 img{
  padding: 10px 35% 10px 35%;
  height:auto;
}
.sec7 p{
  text-align: justify;
  padding: 0 2%;
}
.sec8{
  margin-top:10px;
  padding: 20px;
  background-color: white;
}
.sec8 img{
  padding: 10px 40% 10px 40%;
  height:auto;
}
.sec8 p{
  text-align: justify;
  padding: 0 2%;
}
.sec9{
  margin-top:10px;
  padding: 20px;
  background-color: white;
}
.sec9 img{
  padding: 10px 40% 10px 40%;
  height:auto;
}
.sec9 p{
  text-align: justify;
  padding: 0 2%;
}
.sec10{
  margin-top:10px;
  padding: 20px;
  background-color: white;
}
.sec10 img{
  padding: 10px 40% 10px 40%;
  height:auto;
}
.sec10 p{
  text-align: justify;
  padding: 0 2%;
}
.sec11{
  margin-top:10px;
  padding: 20px;
  background-color: white;
}
.sec11 img{
  padding: 10px 40% 10px 40%;
  height:auto;
}
.sec11 p{
  text-align: justify;
  padding: 0 2%;
}
.footer{
  background-image: linear-gradient(orange,gold,gold,white,white,lime,lime,green);
  padding: 10px;
  text-align: center;
  color: black;
  border-radius: 5px;
}
.footer div a{
  text-decoration: none;
  padding:10px 20px;
  color:black;
}
.footer div a:hover{
  background-color: white;
  padding:11px 21px;
  transition: 0.3s;
  color:orange;
  border-radius: 5px;
  font-weight: bold;
}

/* for tablets*/
@media screen and (min-width:480px){
  .sec0{
    background-color: grey;
  }
  .sec0 img{
    padding: 0 5% 0 5%;
  }
  .sec1{
    padding: 20px 5% 20px 5%;
  }
  .sec2 p{
    padding: 20px 5% 20px 5%;
  }
  .sec3 p{
    padding: 20px 5% 20px 5%;
  }
  .sec4 p{
    padding: 20px 5% 20px 5%;
  }
  .sec5 p{
    padding: 20px 5% 20px 5%;
  }
  .sec6 p{
    padding: 20px 5% 20px 5%;
  }
  .sec7 p{
    padding: 20px 5% 20px 5%;
  }
  .sec8 p{
    padding: 20px 5% 20px 5%;
  }
  .sec9 p{
    padding: 20px 5% 20px 5%;
  }
  .sec10 p{
    padding: 20px 5% 20px 5%;
  }
  .sec11 p{
    padding: 20px 5% 20px 5%;
  }
}

/* for desktops*/
@media screen and (min-width:800px){
  .sec0 img{
    padding: 0 10% 0 10%;
  }
  .sec1{
    padding: 20px 10% 20px 10%;
  }
}
